@page
@model GpsConverterPageModel
@{
    Model.Title = "GPS Converter";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "General", "GPS Converter");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please correct the errors below."
))

<p>
    This page allows you to convert between different GPS coordinate representations.
</p>

<form method="post" autocomplete="off" role="form">
    <input type="hidden" asp-for="Form.ConversionMode" value="@GpsConversionMode.FromDegreesMinutesSeconds" />

    <div>
        <span class="label-text font-bold">Degrees Minutes Seconds Format</span>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="grid grid-cols-6 gap-4">
                <span>&nbsp;</span>
                <span class="label-text text-secondary font-bold">Degrees</span>
                <span class="label-text text-secondary font-bold">Minutes</span>
                <span class="label-text text-secondary font-bold">Seconds</span>
                <span class="label-text text-secondary font-bold">Reference</span>
                <span class="label-text text-secondary font-bold">Formatted</span>

                <span class="label-text font-bold">Latitude</span>
                <input type="number" class="input input-sm input-number" asp-for="Form.DmsLatDegrees" autofocus />
                <input type="number" class="input input-sm input-number" asp-for="Form.DmsLatMinutes" />
                <input type="number" class="input input-sm input-number" asp-for="Form.DmsLatSeconds" />
                <select class="select select-sm" asp-for="Form.DmsLatReference" asp-items="Html.GetEnumSelectList<GpsLatitudeReference>()"></select>
                <label class="label-text font-bold">@Html.Raw(Model.Form.DmsLatString)</label>

                <span class="label-text font-bold">Longitude</span>
                <input type="number" class="input input-sm input-number" asp-for="Form.DmsLngDegrees" />
                <input type="number" class="input input-sm input-number" asp-for="Form.DmsLngMinutes" />
                <input type="number" class="input input-sm input-number" asp-for="Form.DmsLngSeconds" />
                <select class="select select-sm" asp-for="Form.DmsLngReference" asp-items="Html.GetEnumSelectList<GpsLongitudeReference>()"></select>
                <label class="label-text font-bold">@Html.Raw(Model.Form.DmsLngString)</label>
            </div>

            <button type="submit" class="self-start btn btn-primary my-2">Convert From Degrees, Minutes and Seconds</button>
        </div>
    </div>
</form>

<form method="post" autocomplete="off" role="form">
    <input type="hidden" asp-for="Form.ConversionMode" value="@GpsConversionMode.FromDegreesMinutes" />

    <div>
        <span class="label-text font-bold">Degrees Minutes Format</span>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="grid grid-cols-5 gap-4">
                <span>&nbsp;</span>
                <span class="label-text text-secondary font-bold">Degrees</span>
                <span class="label-text text-secondary font-bold">Minutes</span>
                <span class="label-text text-secondary font-bold">Reference</span>
                <span class="label-text text-secondary font-bold">Formatted</span>

                <span class="label-text font-bold">Latitude</span>
                <input type="number" class="input input-sm w-full input-number" asp-for="Form.DmLatDegrees" />
                <input type="number" class="input input-sm w-full input-number" asp-for="Form.DmLatMinutes" />
                <select class="select select-sm" asp-for="Form.DmLatReference" asp-items="Html.GetEnumSelectList<GpsLatitudeReference>()"></select>
                <label class="label-text font-bold">@Html.Raw(Model.Form.DmLatString)</label>

                <span class="label-text font-bold">Longitude</span>
                <input type="number" class="input input-sm w-full input-number" asp-for="Form.DmLngDegrees" />
                <input type="number" class="input input-sm w-full input-number" asp-for="Form.DmLngMinutes" />
                <select class="select select-sm" asp-for="Form.DmLngReference" asp-items="Html.GetEnumSelectList<GpsLongitudeReference>()"></select>
                <label class="label-text font-bold">@Html.Raw(Model.Form.DmLngString)</label>
            </div>

            <button type="submit" class="self-start btn btn-primary shrink my-2">Convert From Degrees and Minutes</button>
        </div>
    </div>
</form>

<form method="post" autocomplete="off" role="form">
    <input type="hidden" asp-for="Form.ConversionMode" value="@GpsConversionMode.FromDegrees" />

    <div>
        <span class="label-text font-bold">Degrees Format</span>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="grid grid-cols-4 gap-4">
                <span>&nbsp;</span>
                <span class="label-text text-secondary font-bold">Degrees</span>
                <span class="label-text text-secondary font-bold">Reference</span>
                <span class="label-text text-secondary font-bold">Formatted</span>

                <span class="label-text font-bold">Latitude</span>
                <input type="number" class="input input-sm w-full input-number" asp-for="Form.DLatDegrees" />
                <select class="select select-sm" asp-for="Form.DLatReference" asp-items="Html.GetEnumSelectList<GpsLatitudeReference>()"></select>
                <label class="label-text font-bold">@Html.Raw(@Model.Form.DLatString)</label>

                <span class="label-text font-bold">Longitude</span>
                <input type="number" class="input input-sm w-full input-number" asp-for="Form.DLngDegrees" />
                <select class="select select-sm" asp-for="Form.DLngReference" asp-items="Html.GetEnumSelectList<GpsLongitudeReference>()"></select>
                <label class="label-text font-bold">@Html.Raw(Model.Form.DLngString)</label>
            </div>

            <button type="submit" class="self-start btn btn-primary my-2">Convert From Degrees</button>
        </div>
    </div>
</form>
