@model www.Pages.Shared.PrimaryNavLink

<a class="maw-primary-nav-link @(Model.IsActive ? "color-primary-content bg-primary-focus" : "")" href="@Model.Url" title="@Model.Title">
    <div class="flex">
        @if(@Model.Icon != null) {
            <span class="@Model.Icon"></span>
        }

        @if(@Model.ImageUrl != null) {
            <img src="@Model.ImageUrl" class="w-8 h-8" />
        }

        <span class="font-bold text-lg ml-3 maw-primary-nav-title">@Model.Title</span>
    </div>
</a>
