@page
@model BandwidthPageModel
@{
    Model.Title = "Bandwidth Calculator";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "Calculators", "Bandwidth");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please enter valid options"
))

<p>
    This page will provide definitions for common networking connections, as
    well as provide a calculator to view transfer time for different connection types.
</p>

<form method="post" autocomplete="off" role="form">
    <label class="form-control w-full max-w-xs mb-4">
        <div class="label">
            <span class="label-text color-secondary font-bold">Size of File</span>
            <span class="label-text-alt color-error" asp-validation-for="Form.Size"></span>
        </div>
        <input type="number" inputmode="numeric" class="input input-bordered w-full max-w-xs input-number" asp-for="Form.Size" autofocus />
    </label>

    <label class="form-control w-full max-w-xs mb-4">
        <div class="label">
            <span class="label-text color-secondary font-bold">File Size Unit</span>
            <span class="label-text-alt color-error" asp-validation-for="Form.SizeUnit"></span>
        </div>
        <select class="input input-bordered w-full max-w-xs" asp-for="Form.SizeUnit">
            @foreach(var unit in Model.AllFileSizeUnits) {
                <option value="@unit.ToLower()">@unit</option>
            }
        </select>
    </label>

    <label class="form-control w-full max-w-xs mb-4">
        <div class="label">
            <span class="label-text color-secondary font-bold">Unit of Time</span>
            <span class="label-text-alt color-error" asp-validation-for="Form.Scale"></span>
        </div>
        <select class="input input-bordered w-full max-w-xs" asp-for="Form.Scale">
            @foreach(var timeScale in Model.AllTimeScales) {
                <option value="@timeScale.ToLower()">@timeScale</option>
            }
        </select>
    </label>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>

@if(Model.Results.Count > 0) {
    <table class="mt-8 table table-zebra-zebra border-collapse border w-full">
        <tr class="border-b-1">
            <th class="text-left">Name</th>
            <th class="text-left">Speed</th>
            <th class="text-right">Transfer Time (@Model.Form.Scale) </th>
        </tr>
        @foreach(var result in Model.Results) {
        <tr>
            <td>@result.BandwidthSizeInfo.Name</td>
            <td>@result.BandwidthSizeInfo.Speed</td>
            <td class="text-right">@result.Time.ToString("N3")</td>
        </tr>
        }
    </table>
}
