@page
@model FileSizePageModel
@{
    Model.Title = "File Size Calculator";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "Calculators", "File Size");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please select a valid time unit."
))

<p>
    Use the form below to see the size of a file in different units.
</p>

<form method="post" autocomplete="off" role="form">
    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Size of File</legend>
        <input type="number" inputmode="numeric" class="input input-number" asp-for="Form.SizeOfFile" autofocus />
        <span class="text-error" asp-validation-for="Form.SizeOfFile"></span>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">File Size Unit</legend>
        <select class="select" asp-for="Form.Unit">
            @foreach(var unit in Model.AllUnits) {
                <option value="@unit.ToLower()">@unit</option>
            }
        </select>
        <span class="label-text-alt text-error" asp-validation-for="Form.Unit"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>

@if(Model.Results.Count > 0) {
    <table class="not-prose mt-8 table table-zebra **:!border-base-300">
        <tbody>
            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Abbreviation</th>
                <th class="text-right">Amount</th>
            </tr>
            @foreach(var result in Model.Results) {
            <tr>
                <td>@result.Unit.Name</td>
                <td>@result.Unit.Abbreviation</td>
                <td class="text-right">@result.SizeInUnits.ToString("N3")</td>
            </tr>
            }
        </tbody>
    </table>
}
